html {
    background-color: #fff;
    min-height: 100%;
}

p, div, span, a, h1, label, select {
    font-family: pp-sans-big-regular,Helvetica Neue,Arial,sans-serif;
    font-weight: 400;
    font-variant: normal;
}

form {
    display: block;
    margin-top: 0em;
}

ul, ol, li {
    margin: 0;
    padding: 0;
}